/* Especificações gerais */

body {
    font-family: 'Encode Sans', sans-serif;
    background-color: #CBCBCB;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Barra Topo */

.topo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.topo>.logo {
    color: #ffffff;
    font-size: 44px;
    font-family: 'Righteous', cursive;
    margin-left: 21px;
}

.topo>p {
    color: white;
    font-size: 18px;
    margin-left: 21px;
}

/* Divs com todo o conteúdo de pedidos da página */

/* Lista de pratos disponível */

.conteudo {
    margin: 92px auto;
    padding: 20px;
}

.prato {
    margin-bottom: 12px;
}

.bebida {
    margin-bottom: 12px;
}

.sobremesa {
    margin-bottom: 12px;
}

.titulo-cardapio {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    left: 0;
    margin-bottom: 18px;
}

.cardapio {
    overflow-x: scroll;
    width: 100%;
    padding: 10px 0;
    display: flex;
}

.item-menu {
    position: relative;
    width: 150px;
    padding: 18px 14px;
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
    margin-right: 16px;
}

.item-menu > .icone {
    display: none;
    background-color: #32B72F;
    border-radius: 50%;
    color: #ffffff;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.item-menu>img {
    width: 144px;
    max-height: 87px;
    object-fit: cover;
    border-radius: 4px;
}

.selecionado {
    border: 5px solid #32b72f;
    padding: 13px 9px;
}


.checked {
    background-color: #32B72F;
    border-radius: 50%;
    color: #ffffff;
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: flex;
}


.descricao >.titulo-prato {
    font-size: 16px;
    font-weight: bold;
    margin: 11px 0 15px;
}

.descricao >.descricao-prato {
    font-size: 15px;
    color: #a6a6a6;
    font-weight: 300;
    margin-bottom: 15px;
}

.descricao >.preco {
    font-weight: bold;
    font-size: 16px;
}



/* Footer fixo com o botão para fechar o pedido */

footer {
    background-color: #ffffff;
    position: fixed;
    display: flex;
    width: 100%;
    height: 92px;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.finalizar {
    width: 364px;
    height: 60px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    background-color: #CBCBCB;
    border-radius: 50px;
    border: 0;
}
